<mat-toolbar>
  <span class="title">Trello Board </span>
</mat-toolbar>
<div class="addButton">
  <button (click)="addList()">Add List</button>
</div>

<div class="board" >
  
    <div  class="card-list mat-elevation-z1" *ngFor="let list of lists; let cardIndex = index;">
      
      <div class="column" fxLayoutAlign="start center">
        <h2 fxFlex="80" class="mat-h2"><span contenteditable [textContent]="list?.title" (input)="list.title=$event.target.textContent; saveData()"></span></h2>
        <div class="close-icon">
          <mat-icon  class="icon" (click)="deleteList(list.title)">cancel_outline</mat-icon>
        </div>
      </div>

      <div class="card-list-content" cdkDropList [id]="list.title" [cdkDropListData]="list.cards"
      [cdkDropListConnectedTo]="listIds()" (cdkDropListDropped)="onCardDrop($event)">

        <app-card *ngFor="let card of list.cards" [title]="card.title" [desc]="card.desc" 
        (delete)="deleteCard(card, list)" cdkDrag></app-card>
      </div>

      <div fxLayout="row" fxLayoutAlign="baseline baseline" class="add-card">
        <mat-icon style="width: fit-content;"  (click)="addEditCard(card, list)" color="primary">add_circle</mat-icon>
      </div>

    </div>
</div>